# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# VS Code project files
.vscode/

# Maven target directory
target/

# Gradle build directory
build/

# MacOS specific files
.DS_Store